{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row g-3">
            <div class="col-12 col-lg-8">
                <twig:LiveTable/>
            </div>
            <div class="col-12 col-lg-4">
                <div class="sticky-lg-top" style="top: 1rem;">
                    <twig:StaticTable title="Top 5 Recent Items" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
